@model GeeksForLess_test.Models.ChangeThemeViewModel
@{
    ViewBag.Title = "Редактирование темы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <section id="loginForm" class="col-md-8 mb-3">
        <h4 class="part-title">@ViewBag.Title</h4>
        @using (Html.BeginForm("AddTheme", "Themes", new { ReturnUrl = ViewBag.ReturnUrl }, 
            FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.Id)

            <div class="card">
                <div class="p-a-1">
                    <div class="form-group">
                        @Html.LabelFor(m => m.MainTheme, new { @class = "" })
                        <div class="">
                            @Html.DropDownListFor(m => m.MainThemeId, Model.MainTheme, new { @class = "form-control", @placeholder = "Главная тема" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "" })
                        <div class="">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Название" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Text, new { @class = "" })
                        <div class="">
                            @Html.TextAreaFor(m => m.Text, new { @class = "form-control text-area message-text-area", @placeholder = "Текст" })
                        </div>
                    </div>
                </div>
                <div class="text-center justify-content-between row p-a-1 pt-0">
                    <div class="self-align-left pl-3">
                        <a href="/Themes/GetTheme/?ID=@Model.Id" type="submit" class="btn-action btn-go-back"><i class="fa fa-caret-left" aria-hidden="true"></i> Отмена</a>
                    </div>
                    <div class="self-align-right pr-3">
                        <button type="submit" class="btn btn-primary"><i class='fa fa-floppy-o' aria-hidden='true'></i> Сохранить</button>
                    </div>
                </div>
            </div>
        }
    </section>
    <div class="col-md-4 themes-popular">
        <h4 class="part-title">Популярные:</h4>
        @{Html.RenderAction("_PopularThemes", "Themes");}
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}