@model GeeksForLess_test.Models.AspNetUsers

@{
    ViewBag.Title = Model.Name + ' ' + Model.Last_name + " (" + Model.UserName + ')';
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row p-a-1">
    <div class="user-detailed col-md-2 mb-3 align-self-start @(Model.UserName == User.Identity.Name ? "own-account" : "")">
        <div class="author-avatar img-thumbnail rounded-circle">
            @Html.Partial("UserAvatar", string.IsNullOrEmpty(Model.Avatar) ? string.Empty : Model.Avatar)
        </div>
    </div>
    <div class="col-md-10 align-self-start">
        <div class="card p-a-1 mb-3">
            <h4 class="part-title">Общая информация:</h4>
            <div class="pl-3 pr-3 justify-content-start">
                <div>
                    <h5>Имя: @Model.Name</h5>
                </div>
                @if (!string.IsNullOrEmpty(Model.Last_name))
                {
                    <div>
                        <h5>Фамилия: @Model.Last_name</h5>
                    </div>
                }
                <div>
                    <h5>Ник: @Model.UserName</h5>
                </div>
            </div>
        </div>

        <div class="card p-a-1">
            <div class="row pl-3 pr-3 justify-content-start">
                <nav class="row user-about-additions">
                    <div class="col text-center display-5 about-addition">
                        <p class="mb-2">@Model.Likes.Count</p>
                        <p class="h6 fw-2 text-uppercase">@Declension.GetDeclension(Model.Likes.Count, "лайк", "лайка", "лайков")<br />поставил</p>
                    </div>
                    <div class="col text-center display-5 about-addition">
                        <p class="mb-2">@Model.Themes.Count</p>
                        <p class="h6 fw-2 text-uppercase">@Declension.GetDeclension(Model.Themes.Count, "публикацию", "публикации", "публикаций")<br />написал</p>
                    </div>
                    <div class="col text-center display-5 about-addition">
                        <p class="mb-2">@Model.Themes_messages.Count</p>
                        <p class="h6 fw-2 text-uppercase">@Declension.GetDeclension(Model.Themes_messages.Count, "комментарий", "комментария", "комментариев")<br />опубликовал</p>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
