@using GeeksForLess_test.Models
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}

<div class="card p-a-1">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, 
            FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <h4>Войдите со своей учётной записью.</h4>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="input-container">
                    @Html.TextBoxFor(m => m.Email, new { @class = "", @id = "email", @required = "required" })
                    @Html.LabelFor(m => m.Email, new { @class = "", @for = "email" })
                    <div class="bar"></div>
                </div>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
                <div class="form-group">
                    <div class="input-container">
                        @Html.TextBoxFor(m => m.Password, new { @class = "", @id = "email", @required = "required", @type = "password" })
                        @Html.LabelFor(m => m.Password, new { @class = "", @for = "email" })
                        <div class="bar"></div>
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="">
                        <input type="submit" value="Войти" class="btn btn-primary" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Зарегестрироваться", "Register")
                </p>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}