@model GeeksForLess_test.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}
<div class="register card p-a-1">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h2>Впервые на форуме?</h2>
        <h6 class="text-primary mt-3">Зарегистрируйтесь</h6>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Имя" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Фамилия" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.NickName, new { @class = "form-control", @placeholder = "Логин/ Ник" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <p class="pl-3">Пол</p>
                <div class="row col mx-auto">
                    <label class="col custom-control custom-radio">
<!--                        <input id="male" name="Gender" value="0" type="radio" class="custom-control-input">-->
                        @Html.RadioButton("Gender", "male", false, new { @class = "custom-control-input" })
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Мужской</span>
                    </label>
                    <label class="col custom-control custom-radio">
<!--                        <input id="female" name="Gender" value="1" type="radio" class="custom-control-input">-->
                        @Html.RadioButton("Gender", "female", false, new { @class = "custom-control-input"})
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Женский</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Пароль" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Подтверждение пароля" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" class="btn btn-primary" value="Регистрация" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
