<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
@{
    string currentAction = ViewContext.RouteData.GetRequiredString("Action");
    string currentController = ViewContext.RouteData.GetRequiredString("Controller");
    bool isMainPage = false;

    if (String.Equals("Index",
        currentAction, StringComparison.OrdinalIgnoreCase)
        && String.Equals("Home", currentController, StringComparison.OrdinalIgnoreCase))
    {
        isMainPage = true;
    }
    var navBrandLinkController = User.Identity.IsAuthenticated ? "Themes" : "Home";
}
<body class='@((User.Identity.IsAuthenticated && (User.Identity.IsAuthenticated && !isMainPage)) ? "" : "hello-page not-authorized")'>
    <div class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top header">
        <div class="container">
            <div class="navbar-header">
                @if (User.Identity.IsAuthenticated)
                {
                    <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                }
                @Html.ActionLink("GFLForum", "Index", navBrandLinkController, new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @if (User.Identity.IsAuthenticated || !isMainPage)
            {
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">@Html.MenuLink("О нас", "About", "Home", "active", new string[] { "nav-link" })</li>
                            <li class="nav-item">@Html.MenuLink("Контакт", "Contact", "Home", "active", new string[] { "nav-link" })</li>
                        }
                    </ul>
                    @if (!isMainPage)
                    {
                        @Html.Partial("_LoginPartial")
                    }
                </div>
            }
        </div>
    </div>
    <div class="container body-content mx-auto">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - GFSForum</p>
        </footer>
    </div>

    @Styles.Render("~/Content/less")
    @Styles.Render("~/Content/font-awesome")
    @Scripts.Render("~/bundles/Core")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
