@using GeeksForLess_test.Models
@model ChangeCommentViewModel


@if (Model != null)
{
    try
    {
        if (User.Identity.IsAuthenticated)
        {
            using (Html.BeginForm("ChangeComment", "Comments", null,
                FormMethod.Post, new { @class = "form-horizontal new-message", role = "form", id = "change-message-form" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                if (Model.ReplyToList != null || Model.ReplyToList.Count() != 0)
                {
                @Html.LabelFor(m => m.ReplyToList)
                @Html.DropDownListFor(m => m.ReplyToId, Model.ReplyToList, new
                {
                    @class = "col-12 pt-2 pb-2 pl-2 pr-2",
                    @placeholder = "Ваш текст..."
                })
            }

            @Html.LabelFor(m => m.Message, new { @class = "mt-3" })
            @Html.TextAreaFor(m => Model.Message.Text, 3, 1, new
       {
           @class = "col-12 pt-2 pb-2 pl-2 pr-2 message-text-area text-area",
           @placeholder = "Ваш текст..."
       })
            }
        }
        else
        {

        }
    }
    catch (Exception ex) {
        <p>@ex</p>
    }


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}